.element{
  width: 280px;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: 250ms;
  cursor: pointer;
  &:hover{
    .h3{
      color: #c33
    }
  }
}

.date{
  font-size: 13px;
  opacity: 0.6;
}

.text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 15px;
}

.img{
  margin-inline: auto;
}

.inner{
  background-color: #f5f5f5;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.h2{
  font-weight: 600;
  transition: 250ms;
}

.h3{
  font-weight: 500;
  transition: 250ms;
}

.imgElement{
  border-radius: 5px;
  transition: 250ms;
  cursor: pointer;
  overflow: hidden;
}
.imgElement:hover{
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.09);
  .inner > .h2{
    color: #c33;
  }
}
